<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>redirection</title>
</head>
<body>

	
<form action="/" method="Post">
<input class="field"type="" name="title" placeholder="TITLE" required>

<input class="field"type="" name="description" placeholder="DESCRIPTION">

<input class="field"type="url" name="url" placeholder="URL" required>
<button>Salvar</button>

</form>
</body>
</html>